<div class="box">
  <h3><%= params[:question] %></h3>
  <p><em>-You</em></p>
</div>
<div class="box">
  <h3><%= @answer %></h3>
  <p><em>-Your coach</em></p>
</div>
<%= link_to "Ask a new question", ask_path %>
